[submodule "Flipper-IRDB"]
	path = Flipper-IRDB
	url = https://github.com/logickworkshop/Flipper-IRDB
[submodule "Flipper_Zero-BadUsb"]
	path = Flipper_Zero-BadUsb
	url = https://github.com/UNC0V3R3D/Flipper_Zero-BadUsb
[submodule "flipper-music-files"]
	path = flipper-music-files
	url = https://github.com/Tonsil/flipper-music-files
[submodule "all-the-plugins"]
	path = all-the-plugins
	url = https://github.com/xMasterX/all-the-plugins
[submodule "Flipper"]
	path = Flipper
	url = https://github.com/UberGuidoZ/Flipper.git
[submodule "FlipperAmiibo"]
	path = FlipperAmiibo

